<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Server = localhost; Database = DVLD ; User Id = sa; Password = SA123456; Encrypt = False; TrustServerCertificate = True; Connection Timeout = 30;" />
		<add key="BackupFolder" value="C:\DatabaseBackups" />
		<add key="LogFolder" value="C:\DatabaseBackups\Logs" />
		<add key="BackupIntervalMinutes" value="60" />
	</appSettings>
</configuration>